[MASTER]
disable=
    too-many-locals,
    too-many-arguments,
    too-many-branches,
    too-many-nested-blocks,
    too-few-public-methods,
    redefined-builtin,
    duplicate-code,
    consider-iterating-dictionary,
    superfluous-parens,
    deprecated-method
